.aboutSection{
    padding: 2em;
}

.card-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 250px;
    gap: 4%;
}

.card-row > *{
    flex: 1 1 20%;
}
.all{
    min-width: 280px;
    padding: 2em 0 ;
}

.profile-card.card{
    height: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10%;
    padding: 0 !important;
}

.profile-card.card.ricardo{
    background-color: #DC3545;
}

.profile-card.card.diogo{
    background-color: #6C757D;
}

.profile-card.card.rafa{
    background-color: #FFC107;
}

.profile-card.card.cunha{
    background-color: #8EA5D7;
}

.profile-card.card.amaral{
    background-color: #28A745;
}

.profile-card.card.pedro{
    background-color: #007BFF;
}
/* Professor */
.profile-card.card.professor{
    background-color: #081B30;
}
/* Professor */
.body{
    background-color: #fff;
    height: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding-bottom: 10%;
}

.personalphoto{
    padding: 2em 0;
}

img.photoperson{
    display: block;
    width: 150px;
    box-shadow: #6C757D 0px 5px 15px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}


img.photoperson.ricardo{
    box-shadow: #DC3545 0px 5px 15px;
}
img.photoperson.diogo{
    box-shadow: #6C757D 0px 5px 15px;
}
img.photoperson.rafa{
    box-shadow: #FFC107 0px 5px 15px;
}
img.photoperson.cunha{
    box-shadow: #8EA5D7 0px 5px 15px;
}
img.photoperson.amaral{
    box-shadow: #28A745 0px 5px 15px;
}
img.photoperson.pedro{
    box-shadow: #007BFF 0px 5px 15px;
}
/* Professor */
img.photoperson.professor{
    box-shadow: #081B30 0px 5px 15px;
}
/* Professor */

.media{
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
}

.circle{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    height: auto;
    border-radius: 70%;
    
}

.circle.ricardo{
    background-color: #DC3545;
}
.circle.diogo{
    background-color: #6C757D;
}
.circle.rafa{
    background-color: #FFC107;
}
.circle.cunha{
    background-color: #8EA5D7;
}
.circle.amaral{
    background-color: #28A745;
}
.circle.pedro{
    background-color: #007BFF;
}

/* Professor */
.circle.professor{
    background-color: #081B30;
}
/* Professor */

section.cool_waves{
    width: 100%;
    height: 20%;
    position: relative;
    overflow: hidden;
}

section .wave{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-image: url("./wave.png");
    background-size: 600px 75px;
    transform: rotate(180deg);
}

section .wave.wave1{
    animation: animate 10s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

@keyframes animate{
    0%
    {
         background-position-x: 0;
    }
    100%
    {
         background-position-x: 600px;
    } 
}
.wave_section{
    height: 30%;
    margin-bottom: 20%;
}

svg {
    color: white;
}

.team_description {
    text-align: center;
    color: black;
}

.team_description h1{
    font-size: 2em;
}

.team_description h3{
    font-size: 1em;
}


/* Collaborators */

.collaborators-section{
    margin-top: 2em;
}

.collaborators-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

.collaborator {
    flex: 1 1 47.5%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.collaborator > * {
    flex: 1 1 47.5%;
}

.img-box{
    width: 300px;
    min-width: 250px;
}

.img-box img{
    width: 100%;
}


.button-clicky {
    width: 30%;
    min-width: 200px;
	color: white;
	border: none;
	border-radius: 12px !important;
	padding: 0;
	cursor: pointer !important;
	position: relative !important;
    margin: 4em auto 0 auto;
}

.button-clicky span.front {
	display: block;
	padding: 5px 10px;
	border-radius: 12px !important;
	color: white;
	transform: translateY(-8px);
	text-align: center;
    font-size: 1.5em;
}


.button-clicky:hover span.front{
	transform: translateY(-4px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.button-clicky:active span.front{
	transform: translateY(-1px);
	transition: filter 250ms;
  	filter: brightness(110%);
}


.seeMoreInfo{
    background: hsl(187, 53%, 53%) !important;
    margin: 2em auto !important;
}

.seeMoreInfo span.front{
    background: hsl(189, 86%, 49%) !important;
}

.sporrt_text{
    padding-top: 0.5em;
    font-size: 2em;
}


/* CREDITS */

.credits-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 2%;
    flex-wrap: wrap;
}

.credit-item{
    flex: 1 1 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 0.5em;
}

.credit-item img{
    width: 75px;
    height: auto;
    margin: 1em auto;
}

.credit-item h3{
    text-align: center;
    font-size: 1em;
}

.seeSource{
    background: hsl(187, 53%, 53%) !important;
    width: 150px !important;
    min-width: 150px !important;
}

.seeSource span.front{
    background: hsl(189, 86%, 49%) !important;
}


/* CONTACT */

.contact_us{
    margin-top: 5em;
}


.contact-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}

.contact-logo{
    width: 40%;
    max-width: 350px;
}

.contact-logo img{
    width: 100%;
}

.contact-description ul li{
    list-style: none;
    color: black;
}


.contact-description img{
    width: 72px;
    height: auto;
    margin-right: 10px;
}