.display-games {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.display-games > div {
	margin: 20px;
	text-align: center;
}

.card-img {
	margin: 0px;
	width: 320px;
	height: auto;
}

/* .card-style {
	height: auto;
	width: 330px;
	max-height: 305px;
}
 */
* {
	transition: all 0.3s ease-out;
}

.game-title {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/* top: 45%; */
	top: 10px;
	text-align: center;
	color: black;
	font-weight: 900;
}

.play-button {
	width: 70%;
}

.game_age {
	/* margin-top: auto;
	margin-bottom: auto; */
	margin-top: 5px;
}

.game_age p {
	color: black;
	text-decoration: none !important;
	/* margin-top: 50%; */
	font-size: large;
	width: 100%;
	padding: 0;
}

button.learn-more {
	width: 12rem;
	min-width: 12rem;
	height: auto;
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	margin-top: auto;
	margin-bottom: auto;
}
button.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #3a4e60;
	border-radius: 1.625rem;
}
button.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #3a4e60;
}
button.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
button.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.25rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}
button.learn-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	color: White;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	width: 200px !important;
}

button:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}
button:hover .button-text {
	color: #fff;
}

.button-fix:hover .circle {
	width: 85%;
}

.card:hover {
	transform: scale(1.1);
}