.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: DodgerBlue;
}

.flex-container > div {
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

.item-card {
	width: auto;
	height: 70px;
}


.card-descr {
	height: 100%;
	width: 100%;
	position: relative;
	border-radius: 10%;

}


.item-level {

	font-size: small;
	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;
	right: 0;
}



.item-card {
	background-color: transparent !important;
	border: 0px !important;
}

.item-img {
	width: 95px;
	height: 75px;
	border-radius: 10%;
}

.item-img-locked {
	width: 95px;
	height: 75px;
	border-radius: 10%;

	opacity: 0.3;
}

.item-img-current {
	width: 95px;
	height: 75px;
	border-radius: 10%;
	border: 2px solid #4cbb17;
}

.item-img::before {
	font-size: initial;
	color: black;
}

* {
    transition: all 0.1s;
}

.lockIcon {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
}

.checkIcon {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	color:#4cbb17;
}

