.Statistics{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3em;
    padding: 3em;
}

.Section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2%;
}

.Section > .statsGames {
    flex: 1 1 100%;
}

.Section > .statsTournaments {
    flex: 1 1 100%;
}

.Section > .statsPlayers {
    flex: 1 1 100%;
}

.shadow3D{
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    rgba(0, 0, 0, 0.35) 0px 5px 15px;  /* Firefox 3.5 - 3.6 */
    box-shadow:         rgba(0, 0, 0, 0.35) 0px 5px 15px;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border-radius: 30px;
}


.top-bar div {
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.top-bar button {
	height: 70px;
	/* width: 80%; */
	width: 100%;
	background: none;
	border: none;
	padding: 0;
	color: white;
	margin: 0;
	
}

.top-bar button:hover {
	height: 70px;
	width: 100%;
	background: none;
	/* text-decoration: underline; */
	font-weight: 700;
}


.top-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 70px;
	margin: 4px 0;
	
	background: linear-gradient(100deg,#faad06, #b1310a);
    border: 1px solid white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	font-weight: lighter;
	letter-spacing: 2px;
	transition: 1s box-shadow;

	font-size: 1.2rem;
	padding: 0;	
}

.animation-up{
    transform: translateY(-500px);
    animation: slideDown 0.8s ease forwards 0.3s;
}

.animation-down{
    transform: translateY(1000px);
    animation: slideUp 1s ease forwards 0.6s;
}

.actived-btn {
    background-color: white !important;
	color: tomato !important;
	border: 3px solid tomato !important;
}

.actived-btn:hover {
	color: white;

}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #faad06;
  transform: translateY(-0.25em);
}


.up:hover,
.up:focus {
  box-shadow: inset 0 -4.25em 0 0 #faad06;
  color: white;
}


/* Statistics Games */

.statsGames h1{
	text-align: center;
	padding: 0.5em 0 1em 0;
}

.game-stats-section{
	margin: 1.5em;
	padding-bottom: 2em;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 7px;
}

.game-stats{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.7em;
	padding: 0 2em;
}

.game-stats > .game-stats-choose {
	flex: 1 1 25%;
	color: white;
	background: hsl(197, 75%, 55%);
	border: none;
	border-radius: 12px;
	padding: 0;
	cursor: pointer;
	position: relative;
}

.game-stats > .game-stats-choose span.front {
	display: block;
	padding: 12px 42px;
	border-radius: 12px;
	font-size: 2em;
	background: hsl(197, 86%, 58%);
	color: white;
	transform: translateY(-8px);
	text-align: center;
}



.game-stats > .game-stats-choose.active span.front {
	transform: translateY(-4px);
	filter: brightness(110%);
}



.game-stats > .game-stats-choose:hover span.front{
	transform: translateY(-4px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.game-stats > .game-stats-choose:active span.front{
	transform: translateY(-1px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: hsl(0deg 0% 0% / 0.25);
	transform: translateY(2px);
	filter: blur(4%);
  }

/* geral game stats */

.geral-stats{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4%;
}

.geral-stats > :nth-child(1){
	flex: 1 1 48%;
}

.geral-stats > :nth-child(2){
	flex: 1 1 48%;
}

.geral-graphs{
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.geral-graphs h2{
	margin: 0;
	padding: 1em;
}

.geral-graphs .graph{
	padding: 0 2.5em 2.5em 2.5em;
}

/* Specific game Stats */

.ranks{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 5%;
	padding: 1.5em;
}


.ranks > *{
	max-width: 30%;
	flex: 1 1 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 15px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	margin-bottom: 1em;
	/* box-shadow: rgba(15, 220, 247, 0.4) -5px 5px, rgba(88, 226, 245, 0.4) -10px 10px, rgba(140, 230, 241, 0.4) -15px 15px, rgba(168, 239, 248, 0.4) -20px 20px, rgba(214, 250, 255, 0.4) -25px 25px; */
}

.ranks img{
	width: 100%;
	max-width: 200px;
}

.ranks h4{
	padding: 1em 1em 0 1em;
}

.ranks h5{
	padding: 0 1em 1em 1em;
}


/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 868px) {
	.ranks > *{
		flex: 1 1 40%;
	}
}


.specific-stats{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4%;
	padding-top: 2em;
}

.specific-stats > :nth-child(1){
	flex: 1 1 48%;
}

.specific-stats > :nth-child(2){
	flex: 1 1 48%;
}

/* players stats*/

.player-stats{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4%;
}

.player-stats > :nth-child(1){
	flex: 1 1 48%;
}

.player-stats > :nth-child(2){
	flex: 1 1 48%;
}

.player-graphs{
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.player-graphs h2{
	margin: 0;
	padding: 1em;
}

.player-graphs .graph{
	padding: 0 2.5em 2.5em 2.5em;
}

.statsPlayers h1{
	text-align: center;
	padding: 0.5em 0 1em 0;
}


.ban-button{
	color: white;
	background: hsl(187, 53%, 53%) !important;
	border: none;
	border-radius: 12px !important;
	padding: 0;
	cursor: pointer !important;
	position: relative !important;
}


.ban-button span.front {
	display: block;
	padding: 5px 10px;
	border-radius: 12px;
	background: hsl(189, 86%, 49%) !important;
	color: white;
	transform: translateY(-8px);
	text-align: center;
}


.ban-button:hover span.front{
	transform: translateY(-4px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.ban-button:active span.front{
	transform: translateY(-1px);
	transition: filter 250ms;
  	filter: brightness(110%);
}