.pointer:hover {
	cursor: pointer;
}

.list-users{
	margin: 2em 3em;
}

.filters{
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-content: center;
	margin: 2em 0;
	flex-wrap: wrap;
}

.title-ind{
	flex: 1 1 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filters > :nth-child(2){
	flex: 1 1 65%;
}

.filters h1{
	text-align: center;
	font-size: 2.5em;
}

.filters i{
	font-size: 5em;
}

.form-players{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10%;
	padding: 0 5em 2em 5em;
}

.form-players > :nth-child(1){
	flex: 1 1 45%;
}

.form-players > :nth-child(2){
	flex: 1 1 45%;
}

.shadow-white{
	-webkit-box-shadow: 0px 0px 5px 0px white;
	-moz-box-shadow: 0px 0px 5px 0px white;
	box-shadow: 0px 0px 2px 0px white;
	border-radius: 20px;
	padding: 0;
}

.search-level, .search-name{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2%;	
}

.search-name > :nth-child(1){
	flex: 1 1 100%;
}

.search-level > * {
	flex: 1 1 47.5%;
}

.btn-search{
	outline: none;
	background-color: rgb(240, 240, 240);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
	color: rgb(79, 79, 207);
	border-radius: 15px;
	padding: 0.5em 1em;
	margin: 0 0 1em 0;
}

ul.list-group{
	margin: 2em 0 1em 0;
}

.list-group-item{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid white;
	padding: 1em;
	font-size: 1.5em;
	text-align: center;
	color: rgb(238, 238, 238);
	margin: 0 4em;
}

.list-group-item:nth-child(1){
	background-color: transparent;
	color: rgb(203, 205, 240);
	font-weight: bold;
	font-size: 2em;
	padding-top: 0em;
	margin: 0 3em;
}

.no-results{
	text-align: center;
	padding-top: 1em;
}

.form-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.podium-flex-buttons{
	display: flex;
}


.join-tournament{
    background: hsl(135, 53%, 53%) !important;
}

.join-tournament span.front{
    background: hsl(125, 74%, 43%) !important;
}

.remove-friend{
	background: hsl(0, 47%, 51%) !important;
}

.remove-friend span.front{
	background: hsl(0, 74%, 43%) !important;
}

.report-player{
	background: hsl(34, 53%, 53%) !important;
}

.report-player span.front{
	background: hsl(37, 74%, 43%) !important;
}

.add-friend{
	background: hsl(135, 53%, 53%) !important;
}

.add-friend span.front{
	background: hsl(125, 74%, 43%) !important;
}

.upgrade-user{
	background: hsl(135, 53%, 53%) !important;
}

.upgrade-user span.front{
	background: hsl(125, 74%, 43%) !important;
}

.downgrade-user{
	background: hsl(34, 53%, 53%) !important;
}

.downgrade-user span.front{
	background: hsl(37, 74%, 43%) !important;
}

.ban-user{
	background: hsl(0, 47%, 51%) !important;
}

.ban-user span.front{
	background: hsl(0, 74%, 43%) !important;
}	

.remove-ban-user{
	background: hsl(187, 53%, 53%) !important;
}

.remove-ban-user span.front{
	background: hsl(189, 86%, 49%) !important;
}

.search-clicky{
    background: hsl(187, 53%, 53%) !important;
	width: 150px !important;
	margin-bottom: 2em !important;
}

.search-clicky span.front{
    background: hsl(189, 86%, 49%) !important;
}


.button-clicky-podium {
    width: 50px;
	color: white;
	border: none;
	border-radius: 12px !important;
	padding: 0;
	cursor: pointer !important;
	position: relative !important;
    margin: 0 auto;
}

.button-clicky-podium span.front {
	display: block;
	padding: 5px 10px;
	border-radius: 12px !important;
	color: white;
	transform: translateY(-8px);
	text-align: center;
    font-size: 1em;
}


.button-clicky-podium:hover span.front{
	transform: translateY(-4px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.button-clicky-podium:active span.front{
	transform: translateY(-1px);
	transition: filter 250ms;
  	filter: brightness(110%);
}




@media only screen and (max-width: 1048px) {
	.list-group-item:nth-child(1) {
		font-size: 1.5em;
	}

	.list-group-item {
		font-size: 1.2em;
	}
}


@media only screen and (max-width: 960px) {
	.form-players{
		padding: 0 1em 2em 1em;
	}

	.list-group-item:nth-child(1) {
		font-size: 1.2em;
		margin: 0;
	}

	.list-group-item {
		font-size: 1em;
		margin: 0;
	}
}

@media only screen and (max-width: 578px) {
	.form-players{
		flex-direction: column;
	}

	#filter_username, #filter_allusers_max_level, #filter_allusers_min_level{
		font-size: 0.8em;
	}

	.title-ind{
		font-size: 0.8em;
	}

	.podium-flex-buttons{
		margin-top: 1em;
	}
}

.highlight{
	background: linear-gradient(90deg, rgb(5, 49, 66) 0%, rgb(48, 106, 230) 34%, rgb(53, 61, 165) 100%); 
	-webkit-animation: changeBrightness 10s infinite;
    animation: changeBrightness 10s infinite;
}

@keyframes changeBrightness {
    0%   {filter: brightness(110%);}
	10%   {filter: brightness(120%);}
	20%   {filter: brightness(130%);}
	30%   {filter: brightness(140%);}
	40%   {filter: brightness(150%);}
	50%   {filter: brightness(160%);}
    60%  {filter: brightness(150%);}
    70%  {filter: brightness(140%);}
    80%  {filter: brightness(130%);} 
    90% {filter: brightness(120%);}
	100% {filter: brightness(110%);}
}