
.page-container-2 {
    background-color: rgb(146, 146, 146);
    padding-bottom: 70px;
    margin-left: 300px;
}

.display-games {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.title_choose {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
    padding-top: 35px;
}

.title_choose h1 {
    font-size: 50px;
    font-weight: 1000;
}


@media(max-width:767px) {
   .card {  
        position: relative;
        margin-top: 20px;
   }

   .img {
       height: auto;
       width: 50px;
   }

   .nav-menu {
        visibility: hidden;
   }

   .hero-container {
       margin-left: 0px;
       height: 100%;
   }
   
   .title_choose {
        font-size: normal;
    }

    .testegrid {
        border: 1px solid #2d2d2d;
        display: grid;
        justify-content: center;
    }
    
}