@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Bubblegum Sans;
}

html,
body,
#root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    color: white;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    
    background: linear-gradient(130deg, #78c9ff, #6699f8, #5379f7, #5867f7, #8a54ee);
    background-size: 300% 100%;
    animation: gradient 7s ease infinite !important;
}

.wrapper{
    height: 100%;
}

.content{
    /* height: calc(100% - 100px); */
    min-width: 270px;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.menu-bars{
    width: 40px;
    height: 40px;
    margin-left: 16px;
    margin-top: 30px;
    align-self: center;
    font-size: 24px;
    background: none;
    position:fixed;
    z-index: 2000;
}

.menu-bars:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .menu-bars{
        margin-left: 16px;
        margin-top: 30px;
        align-self: center;
        font-size: 24px;
        background: none;
        position:absolute;
        z-index: 2000;
    }
}  
/* Solucao para o backgroud size
@media(max-width:767px) {
    html, body, #root, .App {
        height: 1000px;
    }
}
*/
