@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Bubblegum Sans;
}

html,
body,
#root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    overflow: auto;
    color: white;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(132deg, #25e68c, #05f5c5, #a64bde);
    /* background: linear-gradient(132deg, rgba(37, 230, 140, 0.5), rgba(5, 245, 197, 0.5), rgba(166, 75, 222, 0.5)); */
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container-fluid {
    height: 100%;
    padding: 0;
}
/* Solucao para o backgroud size
@media(max-width:767px) {
    html, body, #root, .App {
        height: 1000px;
    }
}
*/
