@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html, body, #root{
    height: 100%;
    width: 100%;
    background: transparent;
}

.container-fluid{
    height: 100%;
    padding:0;
}
/* Solucao para o backgroud size
@media(max-width:767px) {
    html, body, #root, .App {
        height: 1000px;
    }
}
*/


h1 { font-family: Bubblegum Sans; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Bubblegum Sans; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Bubblegum Sans; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Bubblegum Sans; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Bubblegum Sans; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5667px; }
span {
    font-family: Bubblegum Sans;
}

button {
    font-family: Bubblegum Sans;
}

/* Global horizontal Navbar */
#horizontal_nav_row.row{
    background-color: #F1F1F1;
    margin:0;
    height: 100px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top:0px;
    display: flex;
}

/*Bars and Logo */
#row-logo.row{
    margin:0;
    padding: 8px 16px;
    width: min(50%, 400px);
    min-width: 250px;
}

.nav-logo{
    width: min(80%, 350px);
    min-width: 100px;
    height: auto;
    align-items: center;
}

.logo{
    width: 100%;
    min-width: 100px;
    height: 100%;
}

.menu-bars{
    align-self: center;
    font-size: 24px;
    margin-right: 16px;
    background: none;
}

/* horizontal navbar */
.navbar{
    display: flex;
    width: 30%;
    max-width: calc(100% - 400px);
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem 1rem;
}

.friends{
    width: max(15%, 40px);
    margin-right: max(5%, 20px);
    height: 100%;
}

.friends_section{
    height: 50%;
    margin: 25% 0;
}

.friends_icon{
    font-size: 24px;
    background: none;
}


.notif{
    width: min(15%, 100px);
    margin-right: max(5%, 20px);
    height: 100%;
    padding: 0.5em 1em;
}

.notif_section{
    height: 50%;
    margin: 25% 0;
}

.notif_icon{
    font-size: 24px;
    background: none;
}


.account_info{
    width: 60%;
    height: 100%;
    display: inline-flex;
    float: right;
}

.round_profile_logo{
    width: 25%;
    height: 100%;
    min-width: 70px;
    float:right;
}

.profile_logo{
    width: 100%;
    min-width: 70px;
}

.info{
    width: 75%;
    height: 100%;
}




/*------ MENU DIVIDIR----- */
/*
.menu-divider{
    margin: 0;
    width: 1px;
    height: 100%;
    -webkit-animation: change-color-background 4s infinite;
    animation: change-color-background 10s infinite;
}
*/

/* Global content below horizontal navbar */

#content.row{
    margin:0;
    height: calc(100% - 100px);
}

/* Vertical Menu Collapsed */
.nav-menu{
    background-color: #F9F9F9;
    height: 100%;
    position: fixed;
    margin-right: 0 !important;
}

.nav-menu-items{
    width: 100%;
    height: 100%;
}

.nav-menu.collapsed{
    width: 65px;
    transition: 600ms; 
}
.nav-menu.active{
    width: 300px;
    transition: 700ms;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70px;
    margin: 4px 0;
    background: #F9F9F9;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}


.nav-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0;
    left: 0;
    transform: scale(0,1);
}

.nav-item:hover::after{
    transform: scale(1,1);
    transition: transform 1s ease;
    -webkit-animation: change-color-background 4s infinite;
    animation: change-color-background 4s infinite;
}

.nav-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    list-style: none;
    height: 60px;    
}

.nav-text a{
    text-decoration: none;
    color: #2C96C7;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

.subicon svg{
    width: 24px;
    height: 24px;
}

hr{
    margin:0;
}

/* Appear and disappear animations */
span.icons-name{
    margin-left: 16px;
    -webkit-animation: appearAnimation 0.4s forwards;
    animation: appearAnimation 0.4s forwards;
    width: auto;
}

span.icons-noname{
    margin-left: 16px;
    -webkit-animation: disappearAnimation 0.4s forwards;
    animation: disappearAnimation 0.4s forwards;
    width: auto;
}

/*-----------------------*/


/*----- SUB-COMPONENT----*/
.sub-component{
    height: 100%;
}

.sub-component.active{
    width: calc(100% - 300px);
    margin-left: 300px;
    transition: 700ms;
}

.sub-component.collapsed{
    width: calc(100% - 65px);
    margin-left: 65px;
    transition: 600ms;
}
/*-----------------------*/


/* KEYFRAMES */

@keyframes disappearAnimation {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes appearAnimation {
    0%   {opacity: 0;}
    25%  {opacity: 0.1;}
    50%  {opacity: 0.3;}
    75%  {opacity: 0.6;}
    100% {opacity: 1;}
}

@keyframes change-color-background {
    100%{
        background-color: #075C7A;
    }
    90%{
        background-color: #054473;
    }
    80%{
        background-color: #04347A;
    }
    70%{
        background-color: #012080;
    }
    60%{
        background-color: #0078C2;
    }
    50%{
        background-color: #0065E0;
    }
    40%{
        background-color: #0061E0;
    }
    30%{
        background-color: #0083E0;
    }
    20%{
        background-color: #00CAE0;
    }
    10%{
        background-color: #00E0D5;
    }
    0%{
        background-color: #16F5EA;
    }
}

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*Bars and Logo */
    #row-logo.row{
        margin:0;
        padding: 8px 16px;
        width: 100%;
    }

    .nav-logo{
        width: calc(80% - 40px);
        height: auto;
    }

    .logo{
        width: 100%;
        min-width: 100px;
        height: 100%;
    }

    .menu-bars{
        align-self: center;
        font-size: 24px;
        margin-right: 16px;
        background: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}
}
