.bracket-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
}

.bracket-container > * {
    flex: 0 1 100%
}

.bracket-game{
    height: 50px;
    width: 150px;
    background-color: white;
    margin: 5em;
}

.input_bracket{
    height: 50%;
    width: 100;
    border: 3px solid red;
}