.list-tournaments{
	margin: 2em 3em;
}

.filters-t{
	display: flex;
	flex-direction: row;	
	align-items: center;
	justify-content: center;
	margin: 1em 0;
    flex-wrap: wrap;
	gap: 2%;
}

.filters-t > :first-child{
	flex: 1 1 10%;
}

.filters-t > :nth-child(2){
	flex: 1 1 65%;
}

.filters-t > :nth-child(3){
	flex: 1 1 21%;
}


.title-ind-t{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.filters-t h1{
	text-align: center;
	font-size: 2.5em;
}

.filters-t i{
	font-size: 5em;
}

.form-tournaments{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10%;
	padding: 0 5em 2em 5em;
}



.form-tournaments > *{
	flex: 1 1 45%;
}


.checkbox-display{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox-display > * {
    flex: 1 1 50%;
}

.inner-checkbox{
    display: flex;
    gap: 5%;
}

.inner-checkbox > :first-child{
    flex-basis: 20%;
}

.inner-checkbox > :last-child{
    flex-basis: 75%;
}

.inner-checkbox label{
    font-size: 1.5em;
}

.checkbox-display input{
    height: 1.5em;
    font-size: 1em;
}



.shadow-white{
	-webkit-box-shadow: 0px 0px 5px 0px white;
	-moz-box-shadow: 0px 0px 5px 0px white;
	box-shadow: 0px 0px 2px 0px white;
	border-radius: 20px;
	padding: 0;
}

.btn-search{
	outline: none;
	background-color: rgb(240, 240, 240);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
	color: rgb(79, 79, 207);
	border-radius: 15px;
	padding: 0.5em 1em;
	margin: 0 0 1em 0;
	
}

ul.list-group{
	margin: 2em 0 1em 0;
}

.list-group-item-t{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid white;
	padding: 1em;
	font-size: 1.5em;
	text-align: center;
	color: rgb(238, 238, 238);
	margin: 0 4em;
}

.list-group-item-t:nth-child(1){
	background-color: transparent;
	color: rgb(203, 205, 240);
	font-weight: bold;
	font-size: 2em;
	padding-top: 0em;
	margin: 0 3em;
}

.list-group-item-t:hover:not(:first-child){
	background-color: rgb(48, 173, 231);
    cursor: pointer;
}

.join{
    text-align: right;
}

.join > *{
    color:rgb(20, 236, 20);
    cursor: pointer;
}

.no-results{
	text-align: center;
	padding-top: 1em;
}

.form-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Gerir Torneios */

#gerir{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1em 0;
}

#gerir h1{
	padding: 1em 0;
}



.tournament-rules-section{
	position: relative;
}


.rule-button.tournaments{
	position: absolute;
	top: 0;
	right: -30px;
}


.join-tournament{
    background: hsl(135, 53%, 53%) !important;
}

.join-tournament span.front{
    background: hsl(125, 74%, 43%) !important;
}


.leave-tournament{
    background: hsl(0, 47%, 51%) !important;
}

.leave-tournament span.front{
    background: hsl(0, 74%, 43%) !important;
}

.blue-clicky{
    background: hsl(187, 53%, 53%) !important;
	width: 150px !important;
	margin-bottom: 1em !important;
}

.blue-clicky span.front{
    background: hsl(189, 86%, 49%) !important;
}

.bigger{
	background: hsl(187, 53%, 53%) !important;
	width: 200px !important;
	margin-bottom: 1em !important;
}

.bigger span.front{
	background: hsl(189, 86%, 49%) !important;
	padding: 1em !important;
}

.tournament-create-link{
	text-decoration: none !important;
}


.button-clicky-tp {
    width: 50px;
	color: white;
	border: none;
	border-radius: 12px !important;
	padding: 0;
	cursor: pointer !important;
	position: relative !important;
    margin: 0 auto;
}

.button-clicky-tp span.front {
	display: block;
	padding: 5px 10px;
	border-radius: 12px !important;
	color: white;
	transform: translateY(-8px);
	text-align: center;
    font-size: 1em;
}


.button-clicky-tp:hover span.front{
	transform: translateY(-4px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.button-clicky-tp:active span.front{
	transform: translateY(-1px);
	transition: filter 250ms;
  	filter: brightness(110%);
}


@media only screen and (max-width: 960px) {
	.tournament-filter .list-group-item-t:first-child {
        font-size: 1em;
    }
    .tournament-filter .list-group-item-t {
        font-size: 1em;
    }

	.button-clicky-tp {
		width: 30px;
	}

	.button-clicky-tp span.front {
		font-size: 0.7em;
	}

	.form-tournaments{
		padding: 0 1em 2em 1em;
	}

	.inner-checkbox label{
		font-size: 1.1em;
	}
	
}

@media only screen and (max-width: 690px) {
	.list-group-item-t{
		margin: 0 !important;
	}
}

@media only screen and (max-width: 578px) {
	.button-clicky-tp{
		margin: 1em auto !important;
	}

	.bigger{
		width: 150px !important;
	}
}