.link-geral-position{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.link-card {
	width: 50%;
	height: auto;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(100deg, #fd5c11,#faad06, #b1310a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
    border-radius: 2%;
    border: 3px solid white;
}

.link-hr{
    width: 80%;
    background-color: white;
    margin-left: 10%;
}

.bottom-link{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.link{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;
    padding: 0.2em 0.5em;
    background: linear-gradient(100deg,#b1310a, tomato);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
    border-radius: 2%;
    border: 3px solid white;
    color: white;
    width: 80%;
    margin: 25px 0 25px 0; 
    outline: none;
}

.div-link-button{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 25px 0; 
}

.button-copy{
    padding: 0.3em 1em;
    border-radius: 2%;
    border: 3px solid white;
    color: white;
    background: linear-gradient(100deg,#b1310a, tomato);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
}

.name-text {
    max-width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}