.profile-container {
    height: 80%;
    width: 80%;

}

.side {
    padding: 0%;
    margin: 0%;

/*     transform: translateY(1000px);
    animation: slideInL 0.8s ease forwards 0.5s;
  */

    overflow: hidden;
}

.side-button {
    /* 	width: 100%;
	background-color: rgb(63, 63, 63);
	height: 15%;
	padding: 0%;
	margin: 0%;
	color: white;
	text-align: left; */
    position: fixed !important;
    width: 20%;
    background-color: rgb(63, 63, 63);
    padding: 0%;
    margin: 0%;
    text-align: left;

    transform: translateY(-500px);
    animation: slideInL 0.6s ease forwards 0.5s;
}

.side-button-2 {
    position: fixed !important;
    width: 20%;
    background-color: rgb(63, 63, 63);
    padding: 0%;
    margin: 0%;
    text-align: left;
    margin-top: 102.75px;

    color: white;   

    transform: translateY(-500px);
    animation: slideInL 0.8s ease forwards 0.5s;
}

.side-button-3 {
    position: fixed !important;
    width: 20%;
    background-color: rgb(63, 63, 63);
    padding: 0%;
    margin: 0%;
    text-align: left;
    margin-top: 205.5px;

    color: white;

    transform: translateY(-500px);
    animation: slideInL 1s ease forwards 0.5s;
}

.side-button:hover {
    padding: 0%;
    margin: 0%;
    color: white;
}

hr.solid {
    margin-top: 50px;
    border-top: 3px solid #bbb;
    width: 70%;

    margin-left: auto;
    margin-right: auto;
}

hr.solid-pos {
    margin-top: 0px;
}

.profile {
    width: 100%;
    background-color: #394d5e;
}

.top-profile {
    margin-top: 50px;
    margin-left: 30px;
    width: auto;
    height: 10%;

    transform: translateY(-1000px);
    animation: slideDown 0.8s ease forwards 0.5s;
}

.top-profile img {
    margin-top: auto;
    margin-bottom: auto;
    height: 200px;
    width: auto;

    /* transform: translateY(1000px);
    animation: slideDown 0.8s ease forwards 0.5s; */
}

.account-name {
    /* margin-top: 70px;*/
    margin-left: 30px;
    margin-top: 55px;

    padding-top: 40px;
}

.account-name h1 {
    font-family: Bubblegum Sans;
    font-weight: 900;
    font-size: 400%;
}

.profile-games {
    width: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: 30px;

    transform: translateY(1000px);
    animation: slideUp 0.8s ease forwards 0.5s;
}

.profile-games img {
    height: 200px;
    width: auto;
}

.game-name {
    /* margin-top: 70px;*/
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.game-name p {
    font-family: Bubblegum Sans;
    font-weight: 300;
    font-size: 300%;
}

.profile-level {
    text-align: center;
    margin-top: 105px;

}

.profile-level p {
    font-family: Bubblegum Sans;
}

.lvl {
    margin-bottom: 0;
}

.progress {
    margin-top: auto;
    margin-bottom: auto;

    height: 20px;
}

.lvl-style {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.lvl-style p {
    font-family: Bubblegum Sans;
}

.inputs {
    transform: translateY(300px);
    animation: slideUp 0.8s ease forwards 0.5s;
}

.no-margins {
    padding: 0%;
    margin: 0%;
}

.last_games_container {
    margin-left: -1px;
	border: 1px solid #F5F0F0;
	background-color: #F5F0F0;

    min-height: 400px;
}


.options-items {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 4px 0;
    background: transparent;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}
.options-items:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.options-items::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0;
    left: 0;
    transform: scale(0,1);
}
.options-items:hover::after{
    transform: scale(1,1);
    transition: transform 1s ease;
    -webkit-animation: change-color-background 4s infinite;
    animation: change-color-background 4s infinite;
}


.option-active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0;
    left: 0;
    transform: scale(0,1);
}
.option-active::after{
    transform: scale(1,1);
    transition: transform 1s ease;
    background-color: #00CAE0;
}

.options-text {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
    width: 100%;
}


.avatar-display {
    padding-top: 30px;
}

.avatar-display > div  {
    height: 350px !important;
}

.avatar-display > h1  {
    text-align: center;
}

.avatar-geral > div{
    height: 250px !important;
}

.skin-pallette {
    text-align: center;
    padding-top: 20px;

}

.skin-pallette-2 {
    margin-top: 15px;
    text-align: center !important;
    padding: 0px;

}

#skin-pallette {
    height: 100px !important;
}

#skin-pallette-1 {
    height: 50px !important;
}

.no-margin {
    padding: 0px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

    margin: 10px;
}
.d1 { 
    background-color: #7B241C;
}
.d2 {
    background-color: #C0392B;
}
.d3 {
    background-color: #D98880;
}

.d4 {
    background-color: #512E5F;
}
.d5 { 
    background-color: #7D3C98;
}
.d6 {
    background-color: #A569BD;
}

.d7 {
    background-color: #1B4F72;
}
.d8 {
    background-color: #2E86C1;
}
.d9 {
    background-color: #5DADE2;
}

.d10 {
    background-color: #186A3B;
}
.d11 {
    background-color: #28B463;
}
.d12 {
    background-color: #58D68D;
}

.d13 {
    background-color: #7E5109;
}
.d14 {
    background-color: #D68910;
}
.d15 {
    background-color: #F5B041;
}

.d16 {
    background-color: #6E2C00;
}
.d17 {
    background-color: #BA4A00;
}
.d18 {
    background-color: #DC7633;
}

.d19 {
    background-color: #626567;
}
.d20 {
    background-color: #A6ACAF;
}
.d21 {
    background-color: #CACFD2;
}

.d22 {
    background-color: #17202A;
}
.d23 {
    background-color: #273746;
}
.d24 {
    background-color: #566573;
}

.dot:hover {
    transform: scale(1.25);
}

.dot_4 {
    background-color: #566573;
}
.dot_7 {
    background-color: #566573;
}

.inventory {
    width: 100%;
    background-color: #394d5e;
    min-height: 550px;
}

.invetory-options {
    padding-top: 30px;
    text-align: center;
}

.inv-list {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    height: 400px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.inv-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    height: 100%;
}

.inv-items > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.save-cancel-btns {
    padding-bottom: 20px;
}

.save-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    width: 120px;

}

.cancel-btn {
    background-color: #af4c4c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: left;
    width: 120px;

}

.no-games-found {
    text-align: center;
    font-size: larger;
    color: #7158e2;
    padding-top: 40px
}

.box {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    height: 102.75px;
    line-height: 60px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    -webkit-transition: 0.3s;
    border: none;

}

* {
    transition: all 0.3s ease-out;
}

.up-1:hover,
.up-1:focus {
  box-shadow: inset 0 -7.25em 0 0 rgb(113, 88, 226);
  color: white;
}

/* ---- */

h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

h2 small {
    font-size: 0.5em;
}

.responsive-table li {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.table-header {
    background-color: #7158e2;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    margin: 0px 10px;
}
.col-1 {
    flex-basis: 10%;
}
.col-2 {
    flex-basis: 40%;
}
.col-3 {
    flex-basis: 25%;
}
.col-4 {
    flex-basis: 25%;
}

.won {
    color: #66ff00;
    font-weight: bolder;
}

.draw {
    color: #f7e700;
    font-weight: bolder;
}

.lost {

    color: #ef0107;
    font-weight: bolder;
}

.won-button {
    background-color: white;
    color: black;
    border: 2px solid #66ff00;
    border-radius: 8px;
    width: 100%;
}

.draw-button {
    background-color: white;
    color: black;
    border: 2px solid #f7e700;
    border-radius: 8px;
    width: 100%;
}

.lost-button {
    background-color: white;
    color: black;
    border: 2px solid #ef0107;
    border-radius: 8px;
    width: 100%;
}

.history-box {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    -webkit-transition: 0.5s;
    border: none;
}

.history-box::before,
.history-box::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    transition: 0.5s;
}

.history-box:hover::after,
.history-box:hover::before {
    -webkit-transform: scale(1);
}

.foo-history-lose::before {
    -webkit-transform-origin: 0 100%;
    animation: bottom-left-lose 3s infinite;
}

.foo-history-lose::after {
    -webkit-transform-origin: 100% 0%;
    animation: top-right-lose 3s infinite;
}

.foo-history-win::before {
    -webkit-transform-origin: 0 100%;
    animation: bottom-left-win 3s infinite;
}

.foo-history-win::after {
    -webkit-transform-origin: 100% 0%;
    animation: top-right-win 3s infinite;
}

.foo-history-draw::before {
    -webkit-transform-origin: 0 100%;
    animation: bottom-left-draw 3s infinite;
}

.foo-history-draw::after {
    -webkit-transform-origin: 100% 0%;
    animation: top-right-draw 3s infinite;
}

@keyframes top-right-win {
    0% {
        border-top: 3px solid #7cfc00;
        border-right: 3px solid #7cfc00;
    }
    20% {
        border-top: 3px solid #66cd00;
        border-right: 3px solid #66cd00;
    }
    40% {
        border-top: 3px solid #78ab46;
        border-right: 3px solid #78ab46;
    }
    60% {
        border-top: 3px solid #7f9a65;
        border-right: 3px solid #7f9a65;
    }
    80% {
        border-top: 3px solid #4a7023;
        border-right: 3px solid #4a7023;
    }
    100% {
        border-top: 3px solid #324f17;
        border-right: 3px solid #324f17;
    }
}

@keyframes bottom-left-win {
    0% {
        border-bottom: 3px solid #7cfc00;
        border-left: 3px solid #7cfc00;
    }
    20% {
        border-bottom: 3px solid #66cd00;
        border-left: 3px solid #66cd00;
    }
    40% {
        border-bottom: 3px solid #78ab46;
        border-left: 3px solid #78ab46;
    }
    60% {
        border-bottom: 3px solid #7f9a65;
        border-left: 3px solid #7f9a65;
    }
    80% {
        border-bottom: 3px solid #4a7023;
        border-left: 3px solid #4a7023;
    }
    100% {
        border-bottom: 3px solid #324f17;
        border-left: 3px solid #324f17;
    }
}


@keyframes top-right-draw {
    0% {
        border-top: 3px solid #f8fc00;
        border-right: 3px solid #f8fc00;
    }
    20% {
        border-top: 3px solid #e0ff2f;
        border-right: 3px solid #e0ff2f;
    }
    40% {
        border-top: 3px solid #f9fc5a;
        border-right: 3px solid #f9fc5a;
    }
    60% {
        border-top: 3px solid #999a65;
        border-right: 3px solid #999a65;
    }
    80% {
        border-top: 3px solid #6f7023;
        border-right: 3px solid #6f7023;
    }
    100% {
        border-top: 3px solid #879602;
        border-right: 3px solid #879602;
    }
}

@keyframes bottom-left-draw {
    0% {
        border-bottom: 3px solid #f8fc00;
        border-left: 3px solid #f8fc00;
    }
    20% {
        border-bottom: 3px solid #e0ff2f;
        border-left: 3px solid #e0ff2f;
    }
    40% {
        border-bottom: 3px solid #f9fc5a;
        border-left: 3px solid #f9fc5a;
    }
    60% {
        border-bottom: 3px solid #999a65;
        border-left: 3px solid #999a65;
    }
    80% {
        border-bottom: 3px solid #6f7023;
        border-left: 3px solid #6f7023;
    }
    100% {
        border-bottom: 3px solid #879602;
        border-left: 3px solid #879602;
    }
}

@keyframes top-right-lose {
    0% {
        border-top: 3px solid #ffa07a;
        border-right: 3px solid #ffa07a;
    }
    20% {
        border-top: 3px solid #fa8072;
        border-right: 3px solid #fa8072;
    }
    40% {
        border-top: 3px solid #cd5c5c;
        border-right: 3px solid #cd5c5c;
    }
    60% {
        border-top: 3px solid #ff0000;
        border-right: 3px solid #ff0000;
    }
    80% {
        border-top: 3px solid #b22222;
        border-right: 3px solid #b22222;
    }
    100% {
        border-top: 3px solid #b22222;
        border-right: 3px solid #b22222;
    }
}

@keyframes bottom-left-lose {
    0% {
        border-bottom: 3px solid #ffa07a;
        border-left: 3px solid #ffa07a;
    }
    20% {
        border-bottom: 3px solid #fa8072;
        border-left: 3px solid #fa8072;
    }
    40% {
        border-bottom: 3px solid #cd5c5c;
        border-left: 3px solid #cd5c5c;
    }
    60% {
        border-bottom: 3px solid #ff0000;
        border-left: 3px solid #ff0000;
    }
    80% {
        border-bottom: 3px solid #b22222;
        border-left: 3px solid #b22222;
    }
    100% {
        border-bottom: 3px solid #b22222;
        border-left: 3px solid #b22222;
    }
}

@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }
    .table-row {
    }
    li {
        display: block;
    }
    .col {
        flex-basis: 100%;
    }
    .col {
        display: flex;
        padding: 10px 0;
    }

    .col::before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

@media all and (max-height: 800px) {
    .box-down {
        position: relative;
        vertical-align: middle;
        display: inline-block;
        height: 102.75px;
        line-height: 60px;
        text-align: center;
        transition: 0.5s;
        cursor: pointer;
        -webkit-transition: 0.5s;
        border: none;
    }

    .box-down::before,
    .box-down::after {
        width: 100%;
        height: 100%;
        z-index: 3;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        -webkit-transform: scale(0);
        transition: 0.5s;
    }

    .box-down:hover::after,
    .box-down:hover::before {
        -webkit-transform: scale(1);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.cube-profile {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #f7d7b2;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    z-index: -1;
    animation: cube 12s ease-in forwards infinite;
}
.cube-profile:nth-child(2n) {
    border-color: #f7d7b2;
}
.cube-profile:nth-child(2) {
    animation-delay: 2s;
    left: 90vw;
    top: 70vh;
}
.cube-profile:nth-child(3) {
    animation-delay: 4s;
    left: 30vw;
    top: 10vh;
}
.cube-profile:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 20vh;
}
.cube-profile:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}
.cube-profile:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}