/* Solucao para o backgroud size
@media(max-width:767px) {
    html, body, #root, .App {
        height: 1000px;
    }
}
*/

#sidebar {
    top: 100px;
}

/* Global horizontal Navbar */
#horizontal_nav_row.navbar-row{
    background-color: #F1F1F1;
    margin:0;
    height: 100px;
    width: 100%;
    position: -webkit-sticky !important;
    position: sticky !important;
    top:0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(0, 195, 255);
}

/*Bars and Logo */
#row-logo.logo-bars-section{
    flex: 1 1 30%;
    margin:0;
    /* padding: 8px 16px; */
    min-width: 250px;
}

.navbar-icons-flex{
    flex: 1 1 65%;
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}


.nav-logo{
    width: min(80%, 350px);
    min-width: 100px;
    height: auto;
}

.logo{
    width: 100%;
    min-width: 300px;
    height: 100%;
}

.notification-img {
    height: 40px;
} 

.navbar-icon{
    font-size: 42px;
    color: rgb(2, 204, 255) !important;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0.2em;
}

.navbar-icon-active{
    font-size: 42px;
    color: rgb(255, 0, 0) !important;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 0.2em;
    border-color: black;
    border: 2px solid white;
}

.notifications-animation {
    -webkit-animation: notification-alert 3s infinite;
    animation: notification-alert 3s infinite;
}

.navbar-icon:hover{
    font-size: 42px;
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
    background-color: rgb(2, 204, 255);
    border-radius: 50%;
    padding: 0.2em;
}


.icon-adjust {
    padding-bottom: 20px;
}

.nav-options {
    width: 100%;
    justify-content: flex-end;
}

#notifs-number {
    font-size: larger;
}

.navbar-dropdown-text {
    font-size: larger;
}

#notifs-dropdown:after{
    display: none;
}

#friends-dropdown:after{
    display: none;
}

.round_profile_logo{
    width: 100px;
    height: 70px; 
}

.key-down{
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 25px;
}

.user-name{
    font-size: 1.2em;
    text-align: center;
}

#user_dropdown{
    width: 100px !important;
    height: 70px !important;
    background-color: rgb(255, 255, 255) !important;
    border-top-left-radius: 95% !important;
    border-top-right-radius: 95% !important;
    border-radius: 50%;
    position: relative;
}

#user_dropdown canvas{
    width: 70px !important;
    height: 50px !important;
    max-height: 50px !important;
}

.profile_logo{
    width: 100%;
    min-width: 70px;
}

.perfil-info-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
}

.perfil-info-modal > :first-child{
    font-size: 2em;
}

.perfil-info-modal > :last-child{
    font-size: 1.5em;
    width: 100px;
    text-align: right;
}

.remove-decoration{
    text-decoration: none !important;
    padding: 0.2em;
}

.icon-word{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5em;
}

.remove-decoration h4{
    margin: 0;
    color: gray;
}

.remove-decoration:hover{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
}

.remove-decoration:hover h4{
    color:#0061E0 !important;
}

.remove-decoration:hover svg{
    color:#0061E0 !important;
}


.navbar-account-info {
    font-size: x-large;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-decoration: none !important;
}

.navbar-icon-h2:hover{
    font-size: 42px;
    color: rgb(2, 204, 255) !important;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.navbar-icon-h2{
    font-size: 42px;
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
    background-color: rgb(2, 204, 255);
    border-radius: 15px;
    padding: 0 0.2em;
}






/*to fix
.icon_notifications:hover {
    color: primary !important;
}*/

/*------ MENU DIVIDIR----- */
.menu-divider{
    margin-right: 5%;
    width: 2px;
    height: 100%;
    -webkit-animation: change-color-background 4s infinite;
    animation: change-color-background 10s infinite;
}

.menu-divider-login{
    margin-right: 5%;
    width: 2px;
    height: 100%;
    background-color: navy;
}

/* Global content below horizontal navbar */

#content.row{
    margin:0;
    /* height: calc(100% - 100px); */
}

/* Vertical Menu */

#content {
    margin-left: 300px;
}



.nav-menu{
    background-color: #F9F9F9;
    height: 100%;
    position: fixed;
    margin-right: 0 !important;
}

.nav-menu-items{
    width: 100%;
    height: 100%;
}

.nav-menu.collapsed{
    width: 65px;
    transition: 600ms; 
}
.nav-menu.active{
    width: 300px;
    transition: 700ms;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70px;
    margin: 4px 0;
    background: #F9F9F9;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
}


.nav-item:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-item::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom:0;
    left: 0;
    transform: scale(0,1);
}

.nav-item:hover::after{
    transform: scale(1,1);
    transition: transform 1s ease;
    -webkit-animation: change-color-background 4s infinite;
    animation: change-color-background 4s infinite;
}

.nav-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    list-style: none;
    height: 60px;    
}

.nav-text a{
    text-decoration: none;
    color: #2C96C7;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
}

.subicon svg{
    width: 24px;
    height: 24px;
}

hr{
    margin:0;
}

/* Appear and disappear animations */
span.icons-name{
    margin-left: 16px;
    -webkit-animation: appearAnimation 0.4s forwards;
    animation: appearAnimation 0.4s forwards;
    width: auto;
}

span.icons-noname{
    margin-left: 16px;
    -webkit-animation: disappearAnimation 0.4s forwards;
    animation: disappearAnimation 0.4s forwards;
    width: auto;
}
/*-----------------------*/


/* KEYFRAMES */

@keyframes disappearAnimation {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes appearAnimation {
    0%   {opacity: 0;}
    25%  {opacity: 0.1;}
    50%  {opacity: 0.3;}
    75%  {opacity: 0.6;}
    100% {opacity: 1;}
}
@keyframes notification-alert {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes change-color-background {
    100%{
        background-color: #075C7A;
    }
    90%{
        background-color: #054473;
    }
    80%{
        background-color: #04347A;
    }
    70%{
        background-color: #012080;
    }
    60%{
        background-color: #0078C2;
    }
    50%{
        background-color: #0065E0;
    }
    40%{
        background-color: #0061E0;
    }
    30%{
        background-color: #0083E0;
    }
    20%{
        background-color: #00CAE0;
    }
    10%{
        background-color: #00E0D5;
    }
    0%{
        background-color: #16F5EA;
    }
}

/* media queries */

@media only screen and (max-width: 845px) {
    #horizontal_nav_row.navbar-row{
        height: 190px;
    }

    .menu-bars{
        display: none;
    }

    #horizontal_nav_row.navbar-row{
        flex-direction: column;
    }

    #row-logo{
        justify-content: center;
        align-items: center;
    }
    
    .navbar-icons-flex{
        flex: 0 0 0%;
        margin: 0 auto !important;
        width: 330px;
    }

    .login-case{
        justify-content: center;
        align-items: center;
    }

    .nav-logo{
        margin: 0 auto !important;
    }

    #sidebar{
        top: 190px;
    }

    .content{
        height: calc(100% - 190px);
    }


       
}


/* Merdas do Rafa para depois organizar */
.btn-primary:hover {
    color: #fff;
    background-color: #F1F1F1;
    border-color: #F1F1F1;
}

.btn-primary {
    color: #fff;
    background-color: #F1F1F1;
    border-color: #F1F1F1;
    font-size: 24px;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #F1F1F1;
    border-color: #F1F1F1;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 0;
}

.navbar-dropdown-row {
    width: 20vw;
    font-size: larger;
}

.col-centered{
    float: none;
    margin: auto 0;
}

.icon_notifications:hover {
    cursor: pointer;
}

/* Modal Amigos */
.friends-modal{
    min-width: 230px;
    display: flex;
    align-items: center;
}

.add_friend_button{
    margin-left: auto;
    border-radius: 10px;
    padding: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.add_friend_button:hover{
    cursor: pointer;
}

.list-item-friends{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 0.2em 0;
    font-size: 1.5em;
    gap: 1em;
}

.list-item-friends > *:last-child{
    margin-left: auto;
    display: flex;
    gap: 0.3em;
}

.modal-games{
    background-color: #dcdfe4;
    padding: 1em;
    margin: 0 0.15em;
    border: 3px solid rgb(221, 209, 209);
}

.not-display{
    display: none;
}

.game-card {
    text-align: center;
    justify-content: center;
	width: 80%;
	height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    border-radius: 2%;
    min-width: 170px;
}

.game-card > :first-child{
    z-index: 2;
}


.game-card::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(100deg, #fd5c11,#faad06, #b1310a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
    transform: skew(-8deg,-3deg);
    border-radius: 2%;
    border: 3px solid rgb(255, 255, 255);
    z-index: 2;
}

.game-card:hover{
    transform: scale(1.1);
    background: linear-gradient(132deg, blue,purple,red);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite !important;
    cursor:pointer;
    border: none;
}

.game-card:hover::before{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.game-card.active{
    transform: scale(1.1);
    background: linear-gradient(132deg, blue,purple,red);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.game-card.not-active{
    opacity: 0.6;
}

.game-card.not-active::before{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.game-img{
    width: 100px;
	height: 100px;
    margin-top: 1em;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 5px 15px 15px;
	border: 2px solid white;
}


/* Clicky button */

.invite-friend-modal{
    background: hsl(54, 53%, 53%) !important;
}

.invite-friend-modal span.front{
    background: hsl(46, 86%, 58%) !important;
}

.remove-friend-modal{
    background: hsl(0, 53%, 53%) !important;
}

.remove-friend-modal span.front{
    background: hsl(0, 86%, 58%) !important;
}

.button-add-friend {
	color: white;
	background: hsl(120, 53%, 53%);
	border: none;
	border-radius: 12px;
	padding: 0;
	cursor: pointer;
	position: relative;
    margin-left: auto;
}

.button-add-friend span.front {
	display: block;
	padding: 5px 10px;
	border-radius: 12px;
	background: hsl(120, 86%, 58%);
	color: white;
	transform: translateY(-8px);
	text-align: center;
}


.button-add-friend:hover span.front{
	transform: translateY(-4px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.button-add-friend:active span.front{
	transform: translateY(-1px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: hsl(0deg 0% 0% / 0.25);
	transform: translateY(2px);
	filter: blur(4%);
  }


.addFriendRow{
    display: flex;
}

.inputAddFriend{
    width: 100%;
    min-width: 110px;
    font-size: 1.2em;
    padding: 2px 10px;
    outline: none;
    border: 1px solid rgb(0, 162, 255);
    border-radius: 4px;
    margin-right: 30px;
}

.invite-friend-button {
	color: white;
	background: hsl(187, 53%, 53%) !important;
	border: none;
	border-radius: 12px !important;
	padding: 0;
	cursor: pointer !important;
	position: relative !important;
    margin-left: auto;
}

.invite-friend-button span.front {
	display: block;
	padding: 5px 10px;
	border-radius: 12px !important;
	background: hsl(189, 86%, 49%) !important;
	color: white;
	transform: translateY(-8px);
	text-align: center;
}


.invite-friend-button:hover span.front{
	transform: translateY(-4px);
	transition: filter 250ms;
  	filter: brightness(110%);
}

.invite-friend-button:active span.front{
	transform: translateY(-1px);
	transition: filter 250ms;
  	filter: brightness(110%);
}