/* horizontal navbar */
.navbar{
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
/*-----------------------*/

/*Bars and Logo */
.bars_logo{
    display: inline-flex;
    height: 100%;
    width: 300px;
}

.menu-bars{
    margin-left: 0.2rem;
    margin-top: 1rem;
    font-size: 2rem;
    background: none;
}

.logo{
    width: 230px;
    height: 70px;
    margin-left: 1rem;
    margin-top: 10px;
}
/*-----------------------*/

/* Vertical Menu Collapsed */




/*-----------------------*/
.nav-menu{
    background-color: cyan;
    width: 300px;
    margin-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 3000ms;
    /* box-shadow: blue; */
}

.navbar-toggle{
    list-style: none;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;

}

.nav-menu.active{
    left:0;
    transition: 1000ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;    
}

.nav-text a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius:4px;
}

.nav-text a:hover{
    background-color: coral;
}

.nav-menu-items{
    width: 100%;
}

span {
    margin-left: 16px;
}