/* Global container */
.choose-game-mode-container {
	margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

/* Animations */
.game-details {
    /* text-align: center; */
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    transform: translateY(1000px);
    animation: slideInL 0.8s ease forwards 0.5s;
}

.game-details-p{
    margin: 10px 0;
    font-size: 1.4rem;
}

.descr-div-caract{
    margin-top: 10px 0;
}

.animation-slideIn {
    transform: translateY(1000px);
    animation: slideDown 0.8s ease forwards 0.5s;
}

.game-modes {
    transform: translateY(1000px);
    animation: slideIn 0.8s ease forwards 0.5s;
}



/* game details */
.game-Name {
    font-size: 3.5rem;
}

.title-rule {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rules-tooltip > .tooltip-inner {
    max-width: 20vw;
}

.rules-tooltip {
    white-space:pre-wrap;
    max-width: 20vw;
}

.game-image{
	width: 80%;
	margin: 20px 10%;
	height: 300px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 5px 15px 15px;
	border: 2px solid white;
}

.game-caracteristics {
    padding: 0;
}

.game-caract{
    font-size: 2rem;
}

.caract-gamemode{
    margin: 0;
    font-size: 2.2rem;
    text-align: left;
    padding: 10px 0 20px 0;
}

.progress.caract{
    height: 30px;
    margin-bottom: 50px;
}

.player-info-and-modes {
    height: 100%;
}

.player-rank {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(1000px);
    animation: slideDown 0.8s ease forwards 0.5s;
    margin-bottom: 15px;
}

.ranks-section{
    display: flex;
}


.rank-gamemode{
    margin: 0;
    font-size: 2.2rem;
    text-align: left;
    padding-top: 10px;
}

.updo-icon{
    margin-top: 50px;
    font-size: 2rem;
}

.ant-next{
    opacity: 0.4;
}

.game-mode{
    /*border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transform: translateY(1000px);
    animation: slideIn 0.8s ease forwards 0.5s;
    height: 643px;
}

.center-progress-bar {
    margin: auto;
}

.center-progress-bar p {
    /* text-align: center; */
    font-size: large;
    font-weight: 900;
}

.lvl-left {
    padding-top: 15px;
}

.lvl-right {
    padding-top: 15px;
}

.a-n-rank-img{
    position: relative;
    width: 100px;
    height: auto;
}

.rank-img {
    position: relative;
    width: 150px;
    height: auto;
}

.a-n-div{
    margin-top: 10%;
}

.set-padding {
    padding: 15px;
}

.title-gamemode {
    font-size: 2.2rem;
    text-align: left;
    padding-top: 10px;
}

.matchmaking-search {
    font-size: 1.3rem;
}

/* Searching for game section */
.DeliveriesSection.wait{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}

.DeliveriesSection.wait > *:nth-child(1) {
    flex: 1 1 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.DeliveriesSection.wait > *:nth-child(2) {
    flex: 1 1 65%;
}

.DeliveriesSection {
    height: 100%;
    min-height: 400px;
    display: flex;
}

.bouncer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100px;
}

.bouncer div{
    width: 20px;
    height: 20px;
    background-color: #0077ff;
    border-radius: 50%;
    animation: bouncer 0.5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}

.bouncer div:nth-child(2){
    animation-delay: 0.1s;
    opacity: 0.8;
}
.bouncer div:nth-child(3){
    animation-delay: 0.2s;
    opacity: 0.6;
}
.bouncer div:nth-child(4){
    animation-delay: 0.3s;
    opacity: 0.4;
}

@keyframes bouncer {
    from { transform: translate(0);}
    to {transform: translateY(-100px);}
}
/* Searching for game section */

.mode-card {
    text-align: center;
    justify-content: center;
	width: 88%;
	height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: none;
    border-radius: 2%;
}


.mode-card::before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(100deg, #fd5c11,#faad06, #b1310a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
    transform: skew(-8deg,-3deg);
    border-radius: 2%;
    border: 3px solid white;
    z-index: -1;
}

.mode-card:hover{
    transform: scale(1.1);
    background: linear-gradient(132deg, blue,purple,red);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite !important;
    cursor:pointer;
    border: none;
}

.mode-card:hover::before{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mode-card.active{
    transform: scale(1.1);
    background: linear-gradient(132deg, blue,purple,red);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.mode-card.not-active{
    opacity: 0.6;
}

.mode-card.not-active::before{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.game-mode-card {
	position: relative;
	margin: 0px;
	width: 55%;
	height: auto;
}

.above-type-img {
	position: absolute;
	z-index: 200;
	display: block;
    

    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    color: black !important;
    font-weight: 900;
    font-size: xx-large ;
}

.go-back-btn {
    margin-left: 20px;
    margin-top: 20px;
}


.select-dif{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.3rem;
    margin-top: 25px;
    float:right;
    border: 0;
    padding: 0.2em 1em;
    background-color: tomato;
    border-radius: 2%;
    border: 3px solid white;
    color: white;
    width: 35%;
    outline: none;
}

.mode-icon{
    font-size: 4rem;
}

.div-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-play{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    padding: 0.3em 1em;
    border-radius: 2%;
    border: 3px solid white;
    color: white;
}

.button-play.active{
    background: linear-gradient(100deg,#faad06, #b1310a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
}

.button-play.active:hover{
    transform: scale(1.3);
}

.button-play.disabled{
    background: linear-gradient(100deg,grey, black);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
}

.button-play.disabled:hover{
    cursor: not-allowed;
}

.button-stop{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    padding: 0.3em 1em;
    border-radius: 2%;
    border: 3px solid white;
    color: white;
    background: linear-gradient(100deg,#b30909, #ff0000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
    cursor: pointer;
}

.button-stop:hover{
    transform: scale(1.3);
}

.choose_names{
    display: flex;
    width: 100%;
}

.name{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;
    padding: 0.3em 1em;
    background: linear-gradient(100deg,#faad06, #b1310a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite !important;
    border-radius: 2%;
    border: 3px solid white;
    color: white;
    width: 40%;
    margin: 25px 10% 0 0; 
    outline: none;
}

.name::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 0.5; /* Firefox */
  }
  
.name:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
    opacity: 0.5;
  }
  
.name::-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
    opacity: 0.5;
  }


@keyframes slideInL {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0px);
    }
}

.orange{
    background: linear-gradient(to bottom right, rgb(248, 194, 95), rgb(104, 78, 12) ) ;
    border: 1px solid white;
}

.orange.bottom-right{
    border-bottom-right-radius: 25px;
}

.orange.top-right{
    border-top-right-radius: 25px;
}

.orange.left{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
